{% extends "admin/base_site.html" %}
{% load i18n %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label='event' %}">{% trans 'Event' %}</a>
&rsaquo; {% trans 'Import' %}
</div>
{% endblock %}
{% endif %}

{% block content %}
<form enctype="multipart/form-data" method="post" action="upload_file">
  {% csrf_token %}
  上传CSV文件，不能超过5M
  <input type="file" name="file" style="width:100%">
  <input type="submit" value="上传">
</form>
<form method="get">
  <input type="text" name="url" value="{{url}}" placeholder="链接，如百度百科词条" style="width:100%">
  <input type="submit" value="解析">
</form>
<p>每一行的格式：<code>发布状态(0/1);级别(1/2/3);内容;开始年(<0是BC);[开始月;开始天;结束年(<0是BC);结束月;结束天;经度;纬度]</code></p>
<form method="post" action="submit_lines">
  {% csrf_token %}
  <textarea name="lines" style="width:100%" rows="10">{{lines}}</textarea>
  <br>
  <input type="submit" value="提交">
</form>
{% endblock %}