aima==2015.4.5
bottle==0.12.9
decorator==4.0.10
Mako==1.0.4
MarkupSafe==0.23
pbr==1.10.0
six==1.10.0
sqlalchemy==1.0.14
sqlalchemy-migrate==0.10.0
sqlparse==0.2.0
stackless-python==2.7.2.2
Tempita==0.5.2
