<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="历史,事件,时间表,timelime"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link title="timeline-styles" rel="stylesheet"
          href="https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css">
    <style>
        .input-group {
            width: 200px;
        }
        #my-timeline {
            height:300px;
        }
    </style>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js"></script>
    <script>
    $(function() {
        $('#search').on('click', function(){
            search($('#search-q').val());
        });
        $('#search').keydown(function (e) {
        alert(e.which);
            var key = e.which;
            if(key == 13) {
                search($('#search-q').val());
                return false;
            }
        });
        search('')
    });

    function search(q) {
        $('#my-timeline').empty();
        new TL.Timeline('my-timeline', '/event/timeline/event/search?q='+q);
    }

    </script>
    <title>历史事件</title>
</head>
<body>
<div class="input-group">
    <input id="search-q" type="text" class="form-control" placeholder="格式：[year[~year]][ 关键词]，-120~-100 凯撒">
    <span class="input-group-btn">
        <button id="search" class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
      </span>
</div><!-- /input-group -->
<div id="my-timeline"></div>
</body>
</html>