<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="历史,事件,时间表,timelime"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/vis/vis.min.css">

    <script src="https://cdn.bootcss.com/fetch/2.0.0/fetch.min.js"></script>
    <script src="/static/event.js"></script>
    <script src="/static/vis/vis.min.js"></script>

    <title>Event Timeline</title>
</head>
<body>

<div class="container-fluid">
<div class="align-middle" id="visualization" ></div>

<script type="text/javascript">
  // DOM element where the Timeline will be attached
  var container = document.getElementById('visualization');

  // Configuration for the Timeline
  var options = {
      width: '100%',
      height: '500px',
      margin: {
        item: 20
      },
      start: new Date(-800, 1, 1),
      end: new Date(800, 1, 1),
  };

  // Create a Timeline
  var timeline = new vis.Timeline(container, [], options);

  var startTime, endTime;

  timeline.on('rangechanged', function(e) {
    startTime = e.start;
    endTime = e.end;
    refresh();
  });

  function refresh() {

    var y1 = new Date(startTime).getFullYear();
    var y2 = new Date(endTime).getFullYear();
    var ydm = y2-y1;

    var tags = get_tags();
    console.log(tags);

    Events.search(startTime, endTime, '', tags, function(data, error){

        var items = [];
        for(var i in data) {
            var d = data[i];
            var dt = new Date();
            dt.setFullYear(d.year);
            if(d.month != null) dt.setMonth(d.month-1)
            if(d.day != null) dt.setDate(d.day);
            var url = i.online_url;
            if(!url) {
                url = 'https://baike.baidu.com/item/'+d.abstract;
            }
            var i = {
                content:'<div class="text-truncate" style="width: 6rem;"><a target="_blank" href="'+url+'"><img style="width:24px;" src="/static/hyperlink.png"></a>'+d.abstract+'</div>',
                title: d.abstract,
                start: dt,
            };
            if(d.year2 != null) {
                var yd = d.year2-d.year;
                var k = yd/ydm;
                if(k>0.1) {
                    var dt = new Date();
                    dt.setFullYear(d.year2);
                    if(d.month2 != null) dt.setMonth(d.month2-1)
                    if(d.day2 != null) dt.setDate(d.day2);
                    i.end = dt;
                }
            }
            items.push(i);
        }
        console.log(items);
        timeline.setItems(new vis.DataSet(items));
    });
  }
</script>
</div>

<!--控制面板-->
<div class="container-fluid">

    <div class="container" id="filter-tag">

    <script type="text/javascript">
        function get_tags() {
            var tags = [];
            var ds = document.getElementsByName('filter-tag');
            for(var i in ds) {
                var d = ds[i];
                if(d.checked) {
                    var id = parseInt(d.id.substr(11));
                    tags.push(id);
                }
            }
            return '['+tags.join(',')+']'
        }
        Events.list_tags(function(data, error){
            var s = "";
            for(var i in data) {
                var d = data[i];

                s += '<div class="form-check form-check-inline"><label class="form-check-label" for="filter-tag-'+d.id+'">'+d.name+'</label>'+
                '<input onchange="refresh();" class="form-check-input" name="filter-tag" type="checkbox" id="filter-tag-'+d.id+'"></div>'

            }
            var d = document.getElementById('filter-tag');
            d.innerHTML = s;
        });
    </script>
    </div>

</div>

<div class="container">
    <div class="fixed-bottom">
        <a class="row justify-content-center" href="http://www.miibeian.gov.cn" target="_blank">蜀ICP备18019059号</a>
    </div>
</div>

</body>
</html>