<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="历史,事件,时间表,timelime"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/vis/vis.min.css">

    <script src="https://cdn.bootcss.com/fetch/2.0.0/fetch.min.js"></script>
    <script src="/static/event.js"></script>
    <script src="/static/vis/vis.min.js"></script>
    <title>Event Timeline</title>
</head>
<body>


<div class="align-middle" id="visualization" ></div>

<script type="text/javascript">
  // DOM element where the Timeline will be attached
  var container = document.getElementById('visualization');

  // Configuration for the Timeline
  var options = {
      width: '100%',
      height: '500px',
      margin: {
        item: 20
      },
      start: new Date(-800, 1, 1),
      end: new Date(800, 1, 1),
  };

  // Create a Timeline
  var timeline = new vis.Timeline(container, [], options);

  timeline.on('rangechanged', function(e) {
    Events.search(e.start, e.end, '', function(data, error){

        var items = [];
        for(var i in data) {
            var d = data[i];
            var i = {
                content:'<div class="text-truncate" style="width: 6rem;">'+d.abstract+'</div>',
                title: d.abstract,
                start: new Date(d.year, d.month, d.day),
            };
            if(d.year2) {
                i.end = new Date(d.year2, d.month2, d.day2);
            }
            items.push(i);
        }
        console.log(items);
        timeline.setItems(new vis.DataSet(items));
    });
  });
</script>


<div class="container">
    <div class="fixed-bottom">
        <a class="row justify-content-center" href="http://www.miibeian.gov.cn" target="_blank">蜀ICP备18019059号</a>
    </div>
</div>

</body>
</html>