<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title>Chronicle</title>
</head>
<body>

<table class="table-striped">
    <thead>
    <tr>
        <th>Time</th>
        <th>Title</th>
    </tr>
    </thead>
    <tbody>
    % for i in events:
    <tr>
        <td>${i.year}</td>
        <td>
            <a href="event/${i.id}">
                ${i.title}
            </a>

        </td>
    </tr>
    % endfor
    </tbody>
</table>
</body>
</html>